/* עיצוב header כולל לוגו */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: transparent;
    direction: rtl;
  }
  
  .logo-section img {
    max-height: 50px;
    cursor: pointer;
  }
  
  /* עיצוב עבור ה-Nav */
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links a:hover {
    color: hwb(228 25% 9%);;
    transform: scale(1.1);
  }
  
  /* עיצוב שדה החיפוש */
  .search-section {
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: #000;
    transition: color 0.3s ease;
  }
  
  .search-icon:hover {
    color: hwb(228 25% 9%);
    transform: scale(1.1);
  }
  
  /* עיצוב חלונית המודל */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    max-width: 100%;
    text-align: center;
    position: relative;
  }
  
  .modal-content h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-content button {
 
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .modal-content button:hover {
    color: hwb(228 25% 9%);;
  }
  
  .modal-content .close-btn {
    padding: 8px 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #080808;
    cursor: pointer;
  }
  
  .modal-content .close-btn:hover {
    color: hwb(228 25% 9%);;
  }
  
  /* תוצאות חיפוש */
  .search-results {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  
  .search-results h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
  }
  
  .search-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .search-results li:last-child {
    border-bottom: none;
  }
  
  .search-results li:hover {
    background-color: #f1f1f1;
  }
  